<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    Created a new Bean with id alien of Alien Class....-->
<!--    Setting the scope of a bean to a prototype will create a new object of the bean
everytime we call the getBean method.
By default the scope of the bean is a singleton bean in which the same bean object is returned
on every getBean call.-->
    <bean id="alien" class="org.example.Alien" scope="prototype">
<!--        This is called setter injection. I am injecting the value of the age property
using the setter setAge().-->
        <property name="age" value="69" />
<!-- This is called adding reference of one bean to another bean -->
        <property name="computerSystem" ref="computerSystem" />
    </bean>

    <bean id="alien1" class="org.example.Alien" scope="prototype">
        <constructor-arg name="age" value="69" />
        <property name="computerSystem" ref="computerSystem" />
    </bean>

    <bean id="alien2" class="org.example.Alien" scope="prototype">
        <constructor-arg name="age" value="169" />
        <constructor-arg name="computerSystem" ref="desktop" />
    </bean>

<!--  This is a bean with autowiring enabled. In this the autowiring is done by name,
  It means that if there is a reference in Alien class with name computerSystem and i
  have created a separate bean with the same name, the Spring will automatically
  wire that bean with the computerSystem property in the Alien class -->
    <bean id="alien3" class="org.example.Alien" scope="prototype" autowire="byName">
        <constructor-arg name="age" value="269" />
    </bean>

    <bean id="computerSystem" class="org.example.Laptop" />
    <bean id="desktop" class="org.example.Desktop" />
</beans>